<div id="<%= dom_id membership %>">
  <div>
    <strong>Group:</strong>
    <%= membership.group_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= membership.user_id %>
  </div>

  <div>
    <strong>Start:</strong>
    <%= membership.start %>
  </div>

  <div>
    <strong>End:</strong>
    <%= membership.end %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= membership.status %>
  </div>

</div>
