<div id="<%= dom_id group %>">
  <div>
    <strong>Name:</strong>
    <%= group.name %>
  </div>

  <div>
    <strong>Username:</strong>
    <%= group.username %>
  </div>

  <div>
    <strong>Type:</strong>
    <%= group.type %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= group.location %>
  </div>

  <div>
    <strong>Website:</strong>
    <%= group.website %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= group.description %>
  </div>

</div>
